/*

  Timezones

*/

@font-face {
  font-family: 'Suisse';
  src: url('/fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ reset

@import 'setup/resets';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ variables */

@import 'setup/variables';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ colors */

@import 'setup/colors';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ functions/mixins

@import 'setup/mixins';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ general styles */

@import 'atoms/general-styles';

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ atoms */

@import 'atoms/logo';
@import 'atoms/settings-trigger';
@import 'atoms/instruction';
@import 'atoms/legal';
@import 'atoms/screensaver-link';

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ molecules */

@import 'molecules/m-digital';
@import 'molecules/m-analogue';
@import 'molecules/m-timezone';

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ organisms */

@import 'organisms/o-clocks';
@import 'organisms/o-timezones';
@import 'organisms/o-conversion';
@import 'organisms/o-settings';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ layout */

@import 'layout/body';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ pages */
