.m-digital {
  display: none;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  margin: 70px 0 20px;
  color: $color__white;
  font-size: 16vw;
  line-height: 16vw;
  text-align: left;
  white-space: nowrap;

  @include breakpoint('medium+') {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 55px);
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 25%;
    font-size: 100px;
    line-height: 110px;
  }

  @include breakpoint('large+') {
    padding-left: calc(((100% - 50px) / 3) + 50px);
    font-size: 110px;
  }

  @include breakpoint('xlarge+') {
    padding-left: calc((((100% - 50px) / 5) * 2) + 50px);
  }

  &.m-digital--24 {
    font-size: 24vw;
    line-height: 24vw;

    @include breakpoint('medium+') {
      font-size: 110px;
      line-height: 110px;
    }

    @include breakpoint('large+') {
      font-size: 110px;
      line-height: 110px;
    }
  }

  .s-digital & {
    display: block;
  }
}

.o-clocks .m-digital sup {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;

  @include breakpoint('medium+') {
    right: 50px;
  }

  @include breakpoint('xlarge+') {
    right: 0;
    width: calc((100% - 50px) / 5);
    text-align: left;
  }
}
