.m-digital {
  display: none;
  color: $color__white;
  font-size: 16vw;
  text-align: justify;
  text-align-last: justify;

  @include breakpoint('medium+') {
    font-size: 100px;
    line-height: 110px;
  }

  @include breakpoint('large+') {
    font-size: 110px;
  }

  &.m-digital--24 {
    font-size: 22vw;

    @include breakpoint('medium+') {
      font-size: 110px;
    }

    @include breakpoint('large+') {
      font-size: 110px;
    }
  }

  .s-digital & {
    display: block;
  }
}
