.m-digital {
  display: none;
  position: relative;
  color: $color__white;
  font-size: 16vw;
  line-height: 16vw;
  text-align: left;
  white-space: nowrap;

  @include breakpoint('medium+') {
    font-size: 100px;
    line-height: 110px;
  }

  @include breakpoint('large+') {
    font-size: 110px;
  }

  &.m-digital--24 {
    font-size: 24vw;
    line-height: 24vw;

    @include breakpoint('medium+') {
      font-size: 110px;
      line-height: 110px;
    }

    @include breakpoint('large+') {
      font-size: 110px;
      line-height: 110px;
    }
  }

  .s-digital & {
    display: block;
  }
}

.o-clocks .m-digital sup {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
