.m-timezone {
  color: $color__text--off;

  &.s-open {
    color: $color__text;
  }

  @include breakpoint('large+') {
    &#GB-MAN {
      display: none;
    }

    .s-map &#GB-MAN {
      display: block;
    }
  }
}

.m-timezone__title,
.m-timezone__weather {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.m-timezone__time,
.m-timezone__name,
.m-timezone__feels-like,
.m-timezone__rain-chance {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  cursor: default;
}

.m-timezone__name,
.m-timezone__feels-like {
  padding-right: 8px;
}

.m-timezone__rain-chance,
.m-timezone__time {
  padding-left: 8px;
  text-align: right;
}

.m-timezone__time {
  text-transform: uppercase;
}

.m-timezone__weather {
  min-height: 25px;
  opacity: 1;
  transition: all .33s linear;

  .s-hide-weather &,
  .m-timezone.s-loading & {
    opacity: 0;
    min-height: 0;
  }
}

.m-timezone__emoji {
  display: inline-block;
  margin-right: 6px;

  .m-timezone__rain-chance & {
    margin-right: 2px;
  }
}

/*
.m-timezone__feels-like--hot {
  color: #ef7c24;
}

.m-timezone__feels-like--really-hot {
  color: red;
}

.m-timezone__feels-like--cold {
  color: #b0e2ff;
}

.m-timezone__feels-like--really-cold {
  color: #74bbfb; // blue ice
}
*/
