.m-timezone {
  color: $color__text--off;

  //&.s-current {
  //}

  &.s-open {
    color: $color__text;
  }
}

.m-timezone__name {
  display: block;
  font-weight: normal;
}

.m-timezone__time {
  font-style: normal;
}

.m-timezone__temperature {

  &::before {
    content: ' - ';
  }

  @include breakpoint('small+') {
    &::before {
      content: '─';
      display: inline-block;
      margin: 0 10px 0 7px;
    }
  }
}

.m-timezone__weather {
  display: block;
  position: relative;
}

.s-hide-temperature .m-timezone__temperature,
.s-hide-weather .m-timezone__weather,
.m-timezone.s-loading .m-timezone__temperature,
.m-timezone.s-loading .m-timezone__weather {
  display: none;
}

.m-timezone__feels-like--hot {
  color: #ffbfbf;
}

.m-timezone__feels-like--really-hot {
  color: red;
}

.m-timezone__feels-like--cold {
  color: #bfbfff;
}

.m-timezone__rain-chance {
  display: block;

  @include breakpoint('small+') {
    display: inline-block;
    margin-left: 8px;
  }
}

.m-timezone__emoji {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  line-height: 15px;
  opacity: .6;
  vertical-align: bottom;

  .s-open & {
    opacity: 1;
  }
}

.m-timezone__emoji--windy {
  transform: rotate(-40deg);
}

.m-timezone__feels-like--hot .m-timezone__emoji--sunny {
  filter: hue-rotate(-10deg) saturate(5);
}

.m-timezone__feels-like--really-hot .m-timezone__emoji--sunny {
  transform: scale(1.2);
  filter: hue-rotate(-10deg) saturate(5);
}
