.conversion-trigger {
  position: absolute;
  right: 20px;
  top: 14px;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: $color__text--off;
  font: 15px/25px $sans-serif;
  cursor: pointer;

  @include breakpoint('medium+') {
    right: 150px;
    top: auto;
    bottom: 50px;
  }

  @include breakpoint('large+') {
    right: 285px;
  }

  @include breakpoint('xlarge+') {
    left: calc((((100% - 50px) / 5) * 3) + 50px);
    right: auto;
  }

  &:hover {
    color: $color__text;
  }

  .s-screensaver & {
    display: none;
  }
}
