.instruction {
  display: none;
  position: absolute;
  bottom: 50px;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: $color__text--off;
  font: 15px/25px $sans-serif;
  cursor: pointer;

  @include breakpoint('medium+') {
    right: 50px;
  }

  @include breakpoint('xlarge+') {
    left: calc((((100% - 50px) / 5) * 4) + 150px);
    right: auto;
  }

  &:hover {
    color: $color__text;
  }

  @include breakpoint('medium+') {
    display: block;

    .s-screensaver & {
      display: none;
    }
  }
}
