.instruction {
  display: none;
  position: absolute;
  left: calc(80% + 100px);
  bottom: 50px;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: $color__text--off;
  font: 15px/25px $sans-serif;
  cursor: pointer;

  &:hover {
    color: $color__text;
  }

  @include breakpoint('medium+') {
    display: block;

    .s-screensaver & {
      display: none;
    }
  }
}
