.legal {
  display: block;
  margin-top: 40px;
  color: $color__text--off;
  font-size: 10px;
  line-height: 15px;
  text-align: center;

  @include breakpoint('medium+') {
    position: absolute;
    right: 20px;
    bottom: 12px;
    margin-top: 0;
  }

  .s-screensaver & {
    display: none;
  }
}

.legal br {

  @include breakpoint('medium+') {
    display: none;
  }
}


.legal a {
  color: inherit;

  &:hover {
    color: $color__text;
  }
}
