.legal {
  display: block;
  margin-top: 40px;
  color: $color__text--off;
  font-size: 10px;
  line-height: 15px;
  text-align: center;

  @include breakpoint('medium+') {
    position: absolute;
    left: 20px;
    bottom: 12px;
    margin-top: 0;
    text-align: left;
  }

  @include breakpoint('large+') {
    left: 50px;
  }
}


.legal a {
  color: inherit;

  &:hover {
    color: $color__text;
  }
}
