.logo {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  width: auto;
  height: 40px;
  color: $color__white;

  @include breakpoint('medium+') {
    top: auto;
    height: 70px;

    .s-digital & {
      bottom: calc(50% - 38px);
    }

    .s-analogue & {
      bottom: 50px;
    }
  }

  @include breakpoint('large+') {
    left: 50px;
    height: 80px;

    .s-digital & {
      bottom: calc(50% - 40px);
    }
  }
}
