.settings-trigger {
  position: absolute;
  left: 80%;
  bottom: 50px;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: $color__text--off;
  font: 15px/25px $sans-serif;
  cursor: pointer;

  &:hover {
    color: $color__text;
  }

  .s-settings-active &::before {
    @include breakpoint('small+') {
      content: '';
      position: fixed;
      left: 0;
      right: 300px;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.5);
    }
  }

  .s-screensaver & {
    display: none;
  }
}
