.settings-trigger {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: $color__text--off;
  font: 15px/25px $sans-serif;
  cursor: pointer;

  @include breakpoint('medium+') {
    right: 150px;
    top: auto;
    bottom: 50px;
  }

  @include breakpoint('xlarge+') {
    left: calc((((100% - 50px) / 5) * 4) + 50px);
    right: auto;
  }

  &:hover {
    color: $color__text;
  }

  .s-settings-active &::before {
    @include breakpoint('small+') {
      content: '';
      position: fixed;
      z-index: 1;
      left: 0;
      right: 300px;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.5);
    }
  }

  .s-screensaver & {
    display: none;
  }
}
