html,
body,
#timezones {
  overflow-x: hidden;
}

body {
  font: $default-text;
  color: $dark-grey;
  background: $white;
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -webkit-text-size-adjust: 100%;

  &:after {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    width: 1px;
    height: 1px;
    margin: -1px 0 0 -1px;
    position: absolute;
    left: -1px;
    top: -1px;
  }
}
  @include breakpoint(small) {
    head {
      font-family: 'small';
    }
    body:after {
      content: 'small';
    }
  }
  @include breakpoint(medium) {
    head {
      font-family: 'medium';
    }
    body:after {
      content: 'medium';
    }
  }
  @include breakpoint(large) {
    head {
      font-family: 'large';
    }
    body:after {
      content: 'large';
    }
  }
  @include breakpoint(xlarge) {
    head {
      font-family: 'xlarge';
    }
    body:after {
      content: 'xlarge';
    }
  }


