html {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  min-height: 100%;
  margin-right: -50vw;
  margin-left: -50vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $color__text--off $color__black;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    background: $color__black;
  }

  &::-webkit-scrollbar-track:vertical,
  &::-webkit-scrollbar-track:vertical {
    border-left: 1px solid $color__black;
    border-right: 1px solid $color__black;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background: $color__text--off;
    border-radius: 20px;
    border: 0 solid transparent;
    background-clip: content-box;
  }
}

body {
  @include font-smoothing(on);
  background: $color__black;
  color: $color__text;
  font: 15px/25px $sans-serif;
  font-variant-numeric: lining-nums;
  font-feature-settings: 'kern', 'lnum', 'liga';
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  text-size-adjust: 100%;

  &::after {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 1px;
    height: 1px;
    margin: -1px 0 0 -1px;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
  }
}

@each $name, $point in $breakpoints {
  @include breakpoint('#{$name}') {
    head {
      font-family: '#{$name}';
    }

    body::after {
      content: '#{$name}';
    }
  }
}
