.o-clocks {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding: 40px 20px 20px;
  animation: fade-in .25s linear;

  @include breakpoint('medium+') {
    max-height: 100vh;
    padding: 30px 0 200px 50px;
  }

  @include breakpoint('xlarge+') {
    padding-top: 10px;
    padding-bottom: 130px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}


.o-clocks .o-timezones {
  flex: 0 0 auto;

  @include breakpoint('medium+') {
    order: 0;
    margin-bottom: 40px;
  }
}

.o-clocks .m-digital {
  flex: 0 0 auto;
  width: 100%;
  margin: 70px 0 20px;

  @include breakpoint('medium+') {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 55px);
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.o-clocks .m-analogue {
  flex: 0 0 auto;
  align-self: center;
  margin: 20px;

  @include breakpoint('medium+') {
    position: relative;
    left: -25px;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
    margin: auto;
  }
}

.o-clocks .legal {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 20px;
}
