.o-clocks {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 40px 20px 20px;
  animation: fade-in .25s linear;

  @include breakpoint('medium+') {
    max-height: 100vh;
    padding: 30px 0 200px 50px;
  }

  @include breakpoint('xlarge+') {
    padding-top: 10px;
    padding-bottom: 130px;

    .s-map & {
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.o_clocks__zones {
  flex: 0 0 auto;

  @include breakpoint('medium+') {
    order: 0;
    margin-bottom: 40px;

    .s-map & {
      position: relative;
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.o-clocks .o-timezones {

  .s-map & {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.s-map .o-clocks .m-timezone {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 2px;
  margin-top: 0;
  padding-left: 15px;
  overflow: visible;
  white-space: nowrap;

  &#US-CA {
    left: 16.1%;
    top: 42.5%;
  }

  &#US-TN {
    left: 23.5%;
    top: 41%;
  }

  &#US-NY {
    left: 27.5%;
    top: 37%;
  }

  &#AR-TUC {
    left: 29.75%;
    top: 76%;
  }

  &#GB-MAN {
    left: 46.8%;
    top: 28.6%;
  }

  &#GB-LND {
    left: 47.25%;
    top: 29.75%;
  }

  &#FR-IDF {
    left: 48%;
    top: 32%;
  }

  &#NG-LA {
    left: 48%;
    top: 57.9%;
  }

  &#KE-30 {
    left: 57.75%;
    top: 61.5%;
  }

  &#GE-TB {
    left: 59.65%;
    top: 36.5%;
  }

  &::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: 4px;
    height: 4px;
    background: $color__text--off;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
  }

  &:hover::after {
    transform: scale(2);
  }

  &.s-open::after {
    background: $color__text;
  }

  .m-timezone__inner {
    position: absolute;
    left: 10px;
    top: -7px;
  }

  &#US-CA .m-timezone__inner,
  &#GB-LND .m-timezone__inner,
  &#NG-LA .m-timezone__inner {
    left: auto;
    right: 25px;
    text-align: right;
  }

  &#US-NY .m-timezone__inner {
    left: auto;
    right: 25px;
    top: auto;
    bottom: -7px;
    text-align: right;
  }

  &#GB-MAN .m-timezone__inner {
    top: auto;
    bottom: -7px;
  }
}

.o-clocks .m-digital {
  flex: 0 0 auto;
  width: 100%;
  margin: 70px 0 20px;

  @include breakpoint('medium+') {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 55px);
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include breakpoint('xlarge+') {

    .s-map & {
      z-index: 2;
      top: auto;
      bottom: 130px;
      margin: 0;
    }
  }
}

.o-clocks .m-map {
}

.o-clocks .m-analogue {
  //flex: 0 0 auto;
  //align-self: center;
  margin: 20px;

  @include breakpoint('medium+') {
    position: relative;
    left: -25px;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
    margin: auto;
  }
}

.o-clocks .legal {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 20px;
}
