.o-clocks {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding: 40px 20px 20px;
  animation: fade-in .25s linear;

  @include breakpoint('medium+') {
    max-height: 100vh;
    padding: 10px 0 50px 50px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}


.o-clocks .o-timezones {
  flex: 0 0 auto;

  @include breakpoint('medium+') {
    order: 0;
  }
}

.o-clocks .m-analogue {
  flex: 0 0 auto;
  align-self: center;
  margin: 20px;

  @include breakpoint('medium+') {
    flex-grow: 1;
    order: 1;
    margin: auto 0;
  }
}

.o-clocks .legal {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 20px;
}
