.o-settings {
  position: fixed;
  z-index: 4;
  right: -100vw;
  top: 0;
  bottom: 0;
  width: 100vw;
  padding: 50px 0 10px;
  background: $color--white;
  color: $color--text--settings;
  transition: all .15s ease-in-out;

  @include breakpoint('small+') {
    right: -300px;
    width: 300px;
  }

  .s-settings-active & {
    right: 0;
  }

  .s-screensaver & {
    display: none;
  }
}

.o-settings p {
  margin: 0;
  padding: 15px 20px 0;
  font-weight: bold;

  & ~ p {
    border-top: 1px solid $color__rules--settings;
  }
}

.o-settings ul {
  list-style-type: none;
  margin: 0 0 25px;
}

.o-settings label {
  display: block;
  margin: 0;
  padding: 5px 20px;

  &:hover {
    color: $color__text--hover--settings;
  }
}

.o-settings input {
  margin-right: 10px;
}
