.o-timezones {
  display: flex;
  position: fixed;
  left: 50px;
  right: 50px;
  top: 50px;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoint(medium) {
    align-content: space-around;
  }

  @include breakpoint(small) {
    bottom: 0;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 10px;
  }
}

.o-timezones > .m-timezone {
  flex: 0 0 auto;
  min-width: 120px;

  @include breakpoint(small) {
    margin-bottom: 40px;
  }
}
