.o-timezones {
  display: flex;
  flex-flow: row wrap;
}

.o-timezones > .m-timezone {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 20px;

  @include breakpoint('small+') {
    width: 50%;
  }

  @include breakpoint('medium+') {
    width: 33.33%;
    margin-top: 20px;
  }

  @include breakpoint('xlarge+') {
    width: 20%;
    margin-top: 40px;
  }
}
