h1, h2, h3, h4, h5, h6, p, ul, ol, dl, small, table, label {
  margin: 0 0 20px;
}
  h1, h2, h3, h4, h5, h6 {
    font: 22px/28px $font-stack-helvetica;
  }
  ul li {
    list-style-type: none;
  }
  ol li {
  }

a {
  text-decoration: none;
}

.logo {
  display: block;
  position: fixed;
  left: 50px;
  width: auto;
  height: 80px;
  color: $white;
  opacity: 0;
  z-index: 9;
  transition: opacity .25s linear;

  .s-digital & {
    bottom: calc(50% - 40px);
    opacity: 1;
  }

  .s-analogue & {
    bottom: 50px;
    opacity: 1;
  }
}

.instruction {
  position: absolute;
  right: 55px;
  top: 29px;
  color: $light-grey;
  font-size: 12px;
  line-height: 23px;
  cursor: pointer;

  &:hover {
    color: $dark-grey;
  }

  @include breakpoint(small) {
    display: none;
  }
}

.powered_by,
.legal {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  color: $light-grey;
  font-size: 10px;
  line-height: 10px;

  @include breakpoint(small) {
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 25px;
    text-shadow: -3px 0 3px $white, 3px 0 3px $white, 0 -3px 3px $white, 0 3px 3px $white;
  }

  a {
    color: inherit;

    &:hover {
      color: $dark-grey;
    }
  }
}
  .legal {
    left: auto;
    right: 20px;

    @include breakpoint(small) {
      left: 0;
      right: 0;
      bottom: 10px;
    }
  }


  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }



.systemtime-digital {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: $white;
  font-size: 110px;
  text-align: center;
  opacity: 0;
  transition: opacity .25s linear;

  .s-digital & {
    opacity: 1;
  }
}

.systemtime-analogue {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 425px;
  height: 425px;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  color: $white;
  transition: opacity .25s linear;

  .s-analogue & {
    opacity: 1;
  }
}

.systemtime-analogue__hour,
.systemtime-analogue__minute,
.systemtime-analogue__second {
  transform-origin: 50% 50%;
  transition: all .25s linear;
}

.systemtime-analogue__hour {
  -webkit-animation: time_hours 43200s infinite linear;
  animation: time_hours 43200s infinite linear;
}

.systemtime-analogue__minute {
  -webkit-animation: time_minutes 3600s infinite linear;
  animation: time_minutes 3600s infinite linear;
}

.systemtime-analogue__second {
  -webkit-animation: time_seconds 60s infinite linear;
  animation: time_seconds 60s infinite linear;
}

