.times {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $dark-grey;
  padding: 100px 20px 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;

  .show-times & {
    display: block;
  }

  input {
    display: block;
    width: 100%;
    margin: 0 0 50px;
    border: 0 none;
    background: transparent;
    color: $light-grey;
    font: 48px/1 $font-stack-helvetica;
  }

  li {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 10px;

    &.current {
      color: $yellow;
      margin-bottom: 38px;
    }
  }

  .close {
    @extend %hide_text;
    position: absolute;
    right: 0;
    top: 0;
    height: 76px;
    width: 60px;
    opacity: .7;
    background: no-repeat 50%;
    background-size: 18px;
    @include background-image("close");

    &:hover {
      opacity: 1;
    }
  }
}