.times {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $white;
  padding: 100px 20px 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;

  .s-active & {
    display: block;
  }

  &.js-loading::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 100px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0 solid transparent;
    border-top-color: $dark-grey;
    border-top-width: 3px;
    border-right-width: 3px;
    animation: spin 1.5s linear infinite;
  }

  input {
    display: block;
    width: 100%;
    margin: 0 0 50px;
    padding-right: 100px;
    border: 0 none;
    background: transparent;
    color: $dark-grey;
    font: 48px/1 $font-stack-helvetica;

    &::-webkit-input-placeholder {
      color: $light-grey;
    }

    &:-moz-placeholder {
      color: $light-grey;
    }

    &::-moz-placeholder {
      color: $light-grey;
    }

    &:-ms-input-placeholder {
      color: $light-grey;
    }
  }

  p {
    font-size: 48px;
    line-height: 48px;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: $dark-grey;

    &:hover {
      color: $light-grey;
    }
  }
}
