.timezones {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;

  @include breakpoint(medium) {
    align-content: space-around;
  }

  @include breakpoint(small) {
    justify-content: space-around;
    align-content: flex-start;
    bottom: 0;
    padding-bottom: 10px;
  }
}

.timezones li {
  flex: 0 0 auto;
  width: 16.666666667%;
  margin-bottom: 20px;

  @include breakpoint(large) {
  }
  @include breakpoint(medium) {
    width: 33.33%;
  }
  @include breakpoint(small) {
    width: auto;
    min-width: 120px;
    margin-bottom: 40px;
  }
}

.timezones b {
  position: relative;
  display: inline-block;
  font-weight: normal;

  @include breakpoint(small) {
    font-size: 15px;
  }
}

.timezones .current b {
  font-weight: bold;
}

.timezones .time {
  font-size: 48px;
  line-height: 48px;
  height: 48px;
  margin-bottom: 10px;
  vertical-align: middle;

  @include breakpoint(small) {
    font-size: 32px;
    line-height: 32px;
    height: 32px;
  }
}

.timezones.hide_digital .time {
  display: none;
}

.timezones .time span {
  font-size: 12px;
  line-height: 12px;
  vertical-align: top;
  position: relative;
  top: 5px;
}

.timezones .weather {
  position: relative;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  &.js-loading::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    border-radius: 50%;
    border: 0 solid transparent;
    border-top-color: $dark-grey;
    border-top-width: 3px;
    border-right-width: 3px;
    animation: spin 1.5s linear infinite;
  }
}

.timezones.hide_weather.hide_temperature .weather.js-loading::after {
  display: none;
}

.timezones.hide_weather .weather .icon {
  display: none;
}

.timezones.hide_temperature .weather i {
  display: none;
}


.timezones .weather canvas,
.timezones .weather .icon,
.timezones .weather i {
  display: block;
  flex: 0 0 auto;
  margin-right: 5px;
  margin-left: 5px;
}

.timezones .weather i {
  font-style: normal;

  span {
    font-size: 10px;
    vertical-align: super;
    position: relative;
    top: 1px;
  }
}

.timezones .weather .icon {
  display: block;
  width: 32px;
  height: 32px;
}

.timezones .clock {
  position: relative;
  margin: 0 auto 10px;
  width: 120px;
  height: 120px;
  border: 3px solid $dark-grey;
  border-radius: 50%;

  @include breakpoint(small) {
    width: 80px;
    height: 80px;
    border-width: 2px;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    background: $dark-grey;
    border-radius: 50%;
  }
}

.timezones.hide_analog .clock {
  display: none;
}

.timezones .hours,
.timezones .minutes,
.timezones .seconds {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 4px;
  margin: 0 0 0 -2px;
  background: $dark-grey;
  border-radius: 2px;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;

  @include breakpoint(small) {
    width: 2px;
    margin-left: -1px;
  }
}

.timezones .hours {
  height: 30px;
  margin-top: -30px;

  @include breakpoint(small) {
    height: 18px;
    margin-top: -18px;
  }
}

.timezones .minutes {
  height: 50px;
  margin-top: -50px;

  @include breakpoint(small) {
    height: 30px;
    margin-top: -30px;
  }
}

.timezones .seconds {
  background: $red;
  z-index: 3;
  width: 2px;
  height: 48px;
  margin: -48px 0 0 -1px;
  -webkit-animation: time_seconds 60s steps(60 ,end) infinite;
  animation: time_seconds 60s steps(60 ,end) infinite;

  &::after {
    content: "";
    position: absolute;
    background: $red;
    height: 10px;
    left: 0;
    right: 0;
    top: 100%;
  }

  @include breakpoint(small) {
    height: 29px;
    margin-top: -29px;

    &::after {
      height: 5px;
    }
  }
}

@for $i from 1 through 10 {
  .timezones li:nth-child(#{$i}) .clock .hours {
    -webkit-animation: time_hours_#{$i} 43200s infinite linear;
    animation: time_hours_#{$i} 43200s infinite linear;
  }
  .timezones li:nth-child(#{$i}) .clock .minutes {
    -webkit-animation: time_minutes_#{$i} 3600s infinite linear;
    animation: time_minutes_#{$i} 3600s infinite linear;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
